In [4]:
import pandas as pd

In [5]:
#checking pandas version
print(pd.__version__)

1.1.5

In [6]:
#Create dataset
mydataset  =   {  
'cars': ["BMW", "Volvo", "Ford"],  'year': [1999, 2007, 2012]
}
myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  year
0    BMW  1999
1  Volvo  2007
2   Ford  2012

In [7]:
mydataset2 = [12,14,15,18,20,20,19,16,15,13]
myvar2 =pd.DataFrame(data=mydataset2)
print(myvar2)

    0
0  12
1  14
2  15
3  18
4  20
5  20
6  19
7  16
8  15
9  13

In [ ]:
#  Figure out ho to add index as 10:20 for rows  ???     STudents need to complete
mydataset3 = [12,14,15,18,20,20,19,16,15,13]
myvar3 =pd.DataFrame(data=mydataset2,columns=["Temp"])
print(myvar3)

   Temp
0    12
1    14
2    15
3    18
4    20
5    20
6    19
7    16
8    15
9    13

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
path="/content/drive/MyDrive/AIDS1 /datasets/data.csv"
df=pd.read_csv(path)
#df

In [11]:
#List first 5 records
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [ ]:
#List first 10 records
df.head(10)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

Try to read:
1.  First 20 records
2.  First 50 records
3.  Last 10 records
4.  Last 50 records

In [14]:
#Solve Above
df.tail(10)

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

Try to read:

1. First records from 20 to 30
2. First records from last 10th to 20th

In [17]:
#Hint
df.head(30).tail(10)

    Duration  Pulse  Maxpulse  Calories
20        60    108       131     364.2
21        45    100       119     282.0
22        60    130       101     300.0
23        45    105       132     246.0
24        60    102       126     334.5
25        60    100       120     250.0
26        60     92       118     241.0
27        60    103       132       NaN
28        60    100       132     280.0
29        60    102       129     380.3

In [ ]:
#solve Above

In [ ]:
#Solve Above

In [ ]:
# Describes numeric columns only
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [19]:
path="/content/drive/MyDrive/AIDS1 /datasets/employees.csv"
df1=pd.read_csv(path)

In [31]:
df1.head(10)

  First Name  Gender  ... Senior Management                  Team
0    Douglas    Male  ...              True             Marketing
1     Thomas    Male  ...              True                   NaN
2      Maria  Female  ...             False               Finance
3      Jerry    Male  ...              True               Finance
4      Larry    Male  ...              True                   NaN
5     Dennis    Male  ...             False                   NaN
6       Ruby  Female  ...              True                     0
7        NaN  Female  ...               NaN                     0
8     Angela  Female  ...              True           Engineering
9    Frances  Female  ...              True  Business Development

[10 rows x 8 columns]

In [22]:
df1.describe()

              Salary     Bonus %
count    1000.000000  999.000000
mean    90662.181000   10.198672
std     32923.693342    5.524105
min     35013.000000    1.015000
25%     62613.000000    5.390500
50%     90428.000000    9.828000
75%    118740.250000   14.837000
max    149908.000000   19.944000

In [23]:
df1.isnull()

     First Name  Gender  Start Date  ...  Bonus %  Senior Management   Team
0         False   False       False  ...    False              False  False
1         False   False       False  ...    False              False   True
2         False   False       False  ...    False              False  False
3         False   False       False  ...    False              False  False
4         False   False       False  ...    False              False   True
..          ...     ...         ...  ...      ...                ...    ...
995       False    True       False  ...    False              False  False
996       False   False       False  ...    False              False  False
997       False   False       False  ...    False              False  False
998       False   False       False  ...    False              False  False
999       False   False       False  ...    False              False  False

[1000 rows x 8 columns]

In [24]:
pd.isnull(df1['Team'])

0      False
1       True
2      False
3      False
4       True
       ...
995    False
996    False
997    False
998    False
999    False
Name: Team, Length: 1000, dtype: bool

In [25]:
pd.notnull(df1['Team'])

0       True
1      False
2       True
3       True
4      False
       ...
995     True
996     True
997     True
998     True
999     True
Name: Team, Length: 1000, dtype: bool

In [26]:
df1.fillna("HOME")

    First Name  Gender  ... Senior Management                  Team
0      Douglas    Male  ...              True             Marketing
1       Thomas    Male  ...              True                  HOME
2        Maria  Female  ...             False               Finance
3        Jerry    Male  ...              True               Finance
4        Larry    Male  ...              True                  HOME
..         ...     ...  ...               ...                   ...
995      Henry    HOME  ...             False          Distribution
996    Phillip    Male  ...             False               Finance
997    Russell    Male  ...             False               Product
998      Larry    Male  ...             False  Business Development
999     Albert    Male  ...              True                 Sales

[1000 rows x 8 columns]

In [27]:
df1.fillna(method='pad')

    First Name  Gender  ... Senior Management                  Team
0      Douglas    Male  ...              True             Marketing
1       Thomas    Male  ...              True             Marketing
2        Maria  Female  ...             False               Finance
3        Jerry    Male  ...              True               Finance
4        Larry    Male  ...              True               Finance
..         ...     ...  ...               ...                   ...
995      Henry    Male  ...             False          Distribution
996    Phillip    Male  ...             False               Finance
997    Russell    Male  ...             False               Product
998      Larry    Male  ...             False  Business Development
999     Albert    Male  ...              True                 Sales

[1000 rows x 8 columns]

In [29]:
df1.fillna(method='bfill')

    First Name  Gender  ... Senior Management                  Team
0      Douglas    Male  ...              True             Marketing
1       Thomas    Male  ...              True               Finance
2        Maria  Female  ...             False               Finance
3        Jerry    Male  ...              True               Finance
4        Larry    Male  ...              True                     0
..         ...     ...  ...               ...                   ...
995      Henry    Male  ...             False          Distribution
996    Phillip    Male  ...             False               Finance
997    Russell    Male  ...             False               Product
998      Larry    Male  ...             False  Business Development
999     Albert    Male  ...              True                 Sales

[1000 rows x 8 columns]

In [32]:
df1['Gender'].fillna("No Gender",inplace=True)  # Notice inplace flag to modify the original data frame
df1

    First Name     Gender  ... Senior Management                  Team
0      Douglas       Male  ...              True             Marketing
1       Thomas       Male  ...              True                   NaN
2        Maria     Female  ...             False               Finance
3        Jerry       Male  ...              True               Finance
4        Larry       Male  ...              True                   NaN
..         ...        ...  ...               ...                   ...
995      Henry  No Gender  ...             False          Distribution
996    Phillip       Male  ...             False               Finance
997    Russell       Male  ...             False               Product
998      Larry       Male  ...             False  Business Development
999     Albert       Male  ...              True                 Sales

[1000 rows x 8 columns]

In [ ]:
import numpy as np
df.replace(to_replace=np.nan, value="KGCE")

    First Name     Gender  ... Senior Management                  Team
0      Douglas       Male  ...              True             Marketing
1       Thomas       Male  ...              True                  KGCE
2        Maria     Female  ...             False               Finance
3        Jerry       Male  ...              True               Finance
4        Larry       Male  ...              True                  KGCE
..         ...        ...  ...               ...                   ...
995      Henry  No Gender  ...             False          Distribution
996    Phillip       Male  ...             False               Finance
997    Russell       Male  ...             False               Product
998      Larry       Male  ...             False  Business Development
999     Albert       Male  ...              True                 Sales

[1000 rows x 8 columns]

In [ ]:
df.interpolate(method='linear',limit_direction='forward')

    First Name     Gender  ... Senior Management                  Team
0      Douglas       Male  ...              True             Marketing
1       Thomas       Male  ...              True                   NaN
2        Maria     Female  ...             False               Finance
3        Jerry       Male  ...              True               Finance
4        Larry       Male  ...              True                   NaN
..         ...        ...  ...               ...                   ...
995      Henry  No Gender  ...             False          Distribution
996    Phillip       Male  ...             False               Finance
997    Russell       Male  ...             False               Product
998      Larry       Male  ...             False  Business Development
999     Albert       Male  ...              True                 Sales

[1000 rows x 8 columns]

In [ ]:
#To be Conitinued......